//<FORM>
// Сніппет (HTML):
.form {
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
	}
	&__button {
	}
	&__error {
	}
}
//</FORM>

// <BUTTONS>
// Сніппет (HTML): btn
// @import "button";

// <INPUTS>
// Сніппет (HTML): inp
// @import "input";

// <CHECK>
// Сніппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сніппет (HTML): opt
// @import "radio";

// <SELECT>
// Сніппет (HTML): sel
// @import "select";

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сніппет (HTML):
// @import "range";

// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";

// =======================================================================================
// A form of modal window
// =======================================================================================
.form-sending {
	opacity: 0.5;
	pointer-events: none;
}

.form {
	flex: 1 1 auto;
	max-width: 55rem;
	display: grid;
	gap: 1.25rem;
	padding: 2.5rem;
	border-radius: 0.9375rem;
	background-color: $bgColor;
	&__input {
		height: 2.5rem;
		padding: 0.9375rem;
		width: 100%;
		border-radius: 0.3125rem;
	}

	&__textarea {
		height: 6.25rem;
		resize: vertical;
		max-height: 20rem;
	}

	&__options {
	}

	&__file {
	}

	&__checkbox {
	}

	&__button {
	}
}
.options-form {
	display: grid;
	gap: 0.9375rem;
	&__title {
		color: #fff;

	}

	&__item {
		position: relative;
	}

	&__input {
		position: absolute;
		top: 0;
		left: 0;
		width: 0.9375rem;
		height: 0.9375rem;
		opacity: 0;

		&:checked + .options-form__text::before {
			background-color: #13ADC7;
		}

		&:focus-visible + .options-form__text::before {
			outline: 0.0625rem solid #fff;
		}
	}

	&__text {
		padding-left: 1.5625rem;
		color: #fff;
		cursor: pointer;
		display: inline-block;

		&::before {
			content: '';
			left: 0;
			top: 0;
			z-index: 2;
			position: absolute;
			width: 1.5375rem;
			height: 1.5375rem;
			border: 0.0625rem solid #1b2028;
			border-radius: 50%;
			transition: all 0.3s;
			background-color: #fff;
		}
	}
}
.file-form {
	position: relative;
	display: flex;
	align-items: center;
	gap: 0.625rem;
	min-width: 0;
	&__item {
		flex: 0 0 auto;
		position: relative;
	}

	&__input {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		font-size: 0;
		opacity: 0;
		pointer-events: none;

		&:focus-visible + .file-form__button {
			outline: 0.0625rem solid #fff
		}
	}

	&__button {
	}

	&__name {
		color: #fff;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}
.checkbox-form {
	position: relative;
	&__input {
		position: absolute;
		top: 0;
		left: 0;
		width: 0.9375rem;
		height: 0.9375rem;
		opacity: 0;

		&:checked + .checkbox-form__text::before {
			background-color: #13ADC7;
		}

		&:focus-visible + .checkbox-form__text::before {
			outline: 0.0625rem solid #fff;
		}
	}

	&__text {
		padding-left: 1.5625rem;
		color: #fff;
		cursor: pointer;
		display: inline-block;

		&::before {
			content: '';
			left: 0;
			top: 0;
			position: absolute;
			width: 1.5375rem;
			height: 1.5375rem;
			z-index: 2;
			border-radius: 0.1875rem;
			transition: all 0.3s;
			background-color: #fff;
			border: 0.0625rem solid #000;
		}
	}
}
.btn {
}
