//====================================================================================================
// Section hero
//====================================================================================================
.hero {
    background-color: $bgColor;
    &__container {
        @include adaptiveValue("padding-top", 255, 100);
        @include adaptiveValue("padding-bottom", 255, 100);
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1127.98px) {
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }
    }

    &__block {
        @include adaptiveValue("width", 980, 280);
        @media (max-width: 767.98px) {
            width: 100%;
        }
    }

    &__title {
        color: #FFF;
        font-family: Poppins;
        @include adaptiveValue("font-size", 64, 30);
        font-weight: 600;
        @include adaptiveValue("margin-bottom", 40, 20);
        animation-duration: 1200ms;
    }

    &__text {
        color: #BCBCBC;
        font-family: Poppins;
        @include adaptiveValue("font-size", 36, 20);
        font-weight: 600;
        @include adaptiveValue("margin-bottom", 63, 30);
        animation-duration: 1600ms;
    }
}
.btn {
    @include adaptiveValue("padding-top", 20, 15);
    @include adaptiveValue("padding-bottom", 20, 15);
    @include adaptiveValue("font-size", 28, 18);
    padding-right: 64px;
    padding-left: 64px;
    border-radius: 83px;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    animation-duration: 2000ms;

    &--small {
        @include adaptiveValue("font-size", 20, 16);
        padding-top: 15px;
        padding-bottom: 15px;
        @include adaptiveValue("padding-right", 52, 25);
        @include adaptiveValue("padding-left", 52, 25);
    }

    @media (max-width: 767.98px) {
        width: 100%;   
    }
}

.main-img {
    @include adaptiveValue("width", 700, 280);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(-55deg);
    padding-bottom: 130px;
    filter: drop-shadow(7px 7px 15px #6978D1);
    animation-duration: 600ms;
    @media (max-width: 767.98px) {
        right: -5px;
        bottom: -5px;
        top: 62%;
    left: 66%;
    }
}

.net {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    @include adaptiveValue("width", 610, 305);
    @include adaptiveValue("height", 610, 305);
    transform: rotate(55deg);
    // @media (max-width: 767.98px) {
    //     display: none;
    // }
    &__cell {
        display: block;
        height: 150px;
        // @include adaptiveValue("height", 150, 103);
    }

    &__cell--1 {
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        background-image: linear-gradient(#0F1624, #0F1624), radial-gradient(circle at top left, #13ADC7,#6978D1, #945DD6);
        background-origin: border-box;
        background-clip: content-box, border-box;
        animation-duration: 1140ms;
        flex-grow: 1;
        flex-basis: 100px;
        // @include adaptiveValue("flex-basis", 100, 25);
    }

    &__cell--2 {
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        background-image: linear-gradient(#0F1624, #0F1624), radial-gradient(circle at bottom right, #13ADC7,#6978D1, #945DD6);
        background-origin: border-box;
        background-clip: content-box, border-box;
        animation-duration: 1425ms;
        flex-grow: 2;
        flex-basis: 160px;
        // @include adaptiveValue("flex-basis", 160, 55);
    }

    &__cell--3 {
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        background-image: linear-gradient(#0F1624, #0F1624), radial-gradient(circle at bottom left, #13ADC7,#6978D1, #945DD6);
        background-origin: border-box;
        background-clip: content-box, border-box;
        animation-duration: 1710ms;
        flex-grow: 2;
        flex-basis: 160px;
        // @include adaptiveValue("flex-basis", 160, 55);
    }

    &__cell--4 {
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        background-image: linear-gradient(#0F1624, #0F1624), radial-gradient(circle at top right, #13ADC7,#6978D1, #945DD6);
        background-origin: border-box;
        background-clip: content-box, border-box;
        animation-duration: 1995ms;
        flex-grow: 1;
        flex-basis: 100px;
        // @include adaptiveValue("flex-basis", 100, 25);
    }

    &__cell--5 {
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        background-image: linear-gradient(#0F1624, #0F1624), radial-gradient(circle at top right, #13ADC7,#6978D1, #945DD6);
        background-origin: border-box;
        background-clip: content-box, border-box;
        animation-duration: 3050ms;
        flex-grow: 1;
        flex-basis: 160px;
        // @include adaptiveValue("flex-basis", 160, 55);
    }

    &__cell--6 {
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        background-image: linear-gradient(#0F1624, #0F1624), radial-gradient(circle at top left, #13ADC7,#6978D1, #945DD6);
        background-origin: border-box;
        background-clip: content-box, border-box;
        animation-duration: 585ms;
        flex-grow: 2;
        flex-basis: 200px;
        // @include adaptiveValue("flex-basis", 200, 80);
    }

    &__cell--7 {
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        background-image: linear-gradient(#0F1624, #0F1624), radial-gradient(circle at top right, #13ADC7,#6978D1, #945DD6);
        background-origin: border-box;
        background-clip: content-box, border-box;
        animation-duration: 2280ms;
        flex-grow: 1;
        flex-basis: 160px;
        // @include adaptiveValue("flex-basis", 160, 55);
    }

    &__cell--8 {
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        background-image: linear-gradient(#0F1624, #0F1624), radial-gradient(circle at bottom right, #13ADC7,#6978D1, #945DD6);
        background-origin: border-box;
        background-clip: content-box, border-box;
        animation-duration: 3000ms;
        flex-grow: 1;
        flex-basis: 100px;
        // @include adaptiveValue("flex-basis", 100, 25);
    }

    &__cell--9 {
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        background-image: linear-gradient(#0F1624, #0F1624), radial-gradient(circle at bottom left, #13ADC7,#6978D1, #945DD6);
        background-origin: border-box;
        background-clip: content-box, border-box;
        animation-duration: 670ms;
        flex-grow: 2;
        flex-basis: 160px;
        // @include adaptiveValue("flex-basis", 160, 55);
    }
// 285
    &__cell--10 {
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        background-image: linear-gradient(#0F1624, #0F1624), radial-gradient(circle at bottom right, #13ADC7,#6978D1, #945DD6);
        background-origin: border-box;
        background-clip: content-box, border-box;
        animation-duration: 855ms;
        flex-grow: 2;
        flex-basis: 160px;
        // @include adaptiveValue("flex-basis", 160, 55);
    }

    &__cell--11 {
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        background-image: linear-gradient(#0F1624, #0F1624), radial-gradient(circle at bottom left, #13ADC7,#6978D1, #945DD6);
        background-origin: border-box;
        background-clip: content-box, border-box;
        animation-duration: 2565ms;
        flex-grow: 1;
        flex-basis: 100px;
        // @include adaptiveValue("flex-basis", 100, 25);
    }

    &__cell--12 {
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid transparent;
        background-image: linear-gradient(#0F1624, #0F1624), radial-gradient(circle at bottom left, #13ADC7,#6978D1, #945DD6);
        background-origin: border-box;
        background-clip: content-box, border-box;
        animation-duration: 2950ms;
        flex-grow: 1;
        flex-basis: 160px;
        // @include adaptiveValue("flex-basis", 160, 55);
    }

    &__cell--13 {
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid transparent;
        background-image: linear-gradient(#0F1624, #0F1624), radial-gradient(circle at bottom right, #13ADC7,#6978D1, #945DD6);
        background-origin: border-box;
        background-clip: content-box, border-box;
        animation-duration: 2900ms;
        flex-grow: 2;
        flex-basis: 200px;
        // @include adaptiveValue("flex-basis", 200, 80);
    }

    &__cell--14 {
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
        background-image: linear-gradient(#0F1624, #0F1624), radial-gradient(circle at bottom left, #13ADC7,#6978D1, #945DD6);
        background-origin: border-box;
        background-clip: content-box, border-box;
        animation-duration: 2850ms;
        flex-grow: 1;
        flex-basis: 160px;
        // @include adaptiveValue("flex-basis", 160, 55);
    }
}
//====================================================================================================
// Section projects
//====================================================================================================
.projects {
    background-color: $bgColor;
    @include adaptiveValue("padding-bottom", 300, 100);
    &__container {
    }

    &__title {
        @include adaptiveValue("font-size", 64, 32);
        font-weight: 600;
        @include adaptiveValue("margin-bottom", 118, 40);
    }

    &__list {
    }
}
.list-project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    @include adaptiveValue("gap", 220, 50);
    &__item {
        @include adaptiveValue("width", 550, 225);
        border: 1px solid #fff;
        padding: 25px;
        box-shadow: 0px 0px 12px 0px #FFF;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    &__link {
        width: 100%;
        height: 100%;

        &:hover {
            .list-project__img {
                transform: scale(1.2);
            }
        }
    }

    &__img-cnt {
        overflow: hidden;
        width: 100%;
    }

    &__img {
        margin-bottom: 20px;
        transition: transform 0.3s ease-in;
        width: 100%;
    }

    &__label {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        text-align: center;
        @include adaptiveValue("width", 300, 150);
        @include adaptiveValue("font-size", 36, 20);
        font-weight: 600;
        line-height: 2; 
        border-bottom: 4px solid transparent;
        background-image: linear-gradient(#0F1624, #0F1624), radial-gradient(circle at bottom left, #13ADC7,#6978D1, #945DD6);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }

    &__text {
        @include adaptiveValue("font-size", 28, 16);
        font-weight: 600;
        margin-bottom: 25px;
    }
}
.btn {
}
//====================================================================================================
// Section projects
//====================================================================================================
.skills {
    background-color: $bgColor;
    @include adaptiveValue("padding-bottom", 300, 100);
    &__container {
    }

    &__title {
        @include adaptiveValue("font-size", 64, 32);
        @include adaptiveValue("margin-bottom", 138, 60);
        font-weight: 600;
    }

    &__list {
    }

    &__subtitle {
        @include adaptiveValue("font-size", 48, 24);
        @include adaptiveValue("margin-bottom", 80, 30);
        font-weight: 600;
    }
}
.list-skills {
    display: flex;
    flex-direction: column;
    align-items: end;
    @include adaptiveValue("gap", 108, 50);
    @include adaptiveValue("margin-bottom", 118, 40);
    &__item {
        width: 90%;
        @include adaptiveValue("height", 32, 20);
        background-color: #162950;
        border-radius: 83px;
        position: relative;
    }

    &__label {
        position: absolute;
        left: 20px;
        @include adaptiveValue("bottom", 40, 30);
        @include adaptiveValue("font-size", 36, 18);
        text-wrap: wrap;
        font-weight: 600;
    }

    &__level {
        position: absolute;
        @include adaptiveValue("right", 40, 20);
        @include adaptiveValue("bottom", 40, 30);
        @include adaptiveValue("font-size", 24, 14);
        font-weight: 600;
    }

    &__progress-item {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 83px;
        overflow: hidden;
    }

    &__progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 70%;
        background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
        border-radius: 83px;

        &--middle {
            width: 50%;
        }

        &--low {
            width: 25%;
        }

        &--faster {
            animation-duration: 500ms;
        }
        &--fast {
            animation-duration: 1000ms;
        }
        &--low-fast {
            animation-duration: 1500ms;
        }
        &--slow {
            animation-duration: 2000ms;
        }
        &--slower {
            animation-duration: 2500ms;
        }
        &--low-slow {
            animation-duration: 3000ms;
        }
        &--very-slow {
            animation-duration: 3500ms;
        }
    }
}
.lists-block {
    display: flex;
    @include adaptiveValue("padding-left", 230, 45);
    @include adaptiveValue("gap", 400, 25);
    @media (max-width: 767.98px) {
        flex-wrap: wrap;
    }
}
.add-skill-list {
    display: flex;
    flex-direction: column;

    &--faster {
        animation-duration: 1250ms;
    }

    &--fast {
        animation-duration: 1750ms;
    }

    &--slow {
        animation-duration: 2250ms;
    }
    @include adaptiveValue("gap", 32, 20);
    &__item {
        @include adaptiveValue("font-size", 36, 16);
        list-style: disc;
    }
}
//====================================================================================================
// Section projects
//====================================================================================================
.about {
    background-color: $bgColor;
    @include adaptiveValue("padding-bottom", 300, 100);
    @media (max-width: 767.98px) {
        @include adaptiveValue("padding-bottom", 250, 100);
    }
    &__container {
    }

    &__title {
        @include adaptiveValue("font-size", 64, 32);
        @include adaptiveValue("margin-bottom", 138, 60);
        font-weight: 600;
    }

    &__progress {
    }
}
.progress-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("padding-left", 230, 45);
    position: relative;
    @media (max-width: 767.98px) {
        transform: rotate(90deg);
        @include adaptiveValue("padding-left", 530, 45);
    }
    

    &__wrapper-text {
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
        @media (max-width: 767.98px) {
            column-gap: 120px;
            padding-left: 60px;
            flex-grow: 2;
            width: 250px;
            overflow: scroll;
        }
    }

    &__wrapper-date {
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;
    }

    &__date {
        @include adaptiveValue("font-size", 36, 18);
    }

    &__date--first {
        animation-duration: 1250ms;
    }

    &__date--second {
        animation-duration: 1750ms;
    }

    &__date--third {
        animation-duration: 2250ms;
    }

    &__date--fourth {
        animation-duration: 2750ms;
    }

    &__line {
        width: 100%;
        @include adaptiveValue("height", 12, 7);
        background-color: #fff;
        position: relative;
        right: 15px;
        
    }

    &__point {
       width: 100%;
       height: 100%;
       position: absolute;
       border-radius: 50%;
       background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
       z-index: 2;
       overflow: hidden;
    }

    &__point--first {
        animation-delay: 500ms;
    }
    &__point--second{
        animation-delay: 1200ms;
    }
    &__point--third {
        animation-delay: 1900ms;
    }
    &__point--fourth {
        animation-delay: 2600ms;
    }

    &__step {
        position: absolute;
        height: 100%;
        background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    }

    &__step--first {
        top: 0;
        left: 0;
        width: 33.33%;
        animation-delay: 700ms;
    }
    &__step--second{
        top: 0;
        left: 33.33%;
        width: 33.33%;
        animation-delay: 1400ms;
    }
    &__step--third {
        top: 0;
        left: 66.66%;
        width: 33.33%;
        animation-delay: 2100ms;
    }

    &__dot {
        @include adaptiveValue("width", 32, 20);
        @include adaptiveValue("height", 32, 20);
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
    }

    &__dot--first {
        top: -80%;
        left: -1%;
    }

    &__dot--second {
        top: -80%;
        left: 33.33%;
    }

    &__dot--third {
        top: -80%;
        left: 66.66%;
    }

    &__dot--fourth {
        top: -80%;
        left: 99%;
    }

    &__text {
        text-align: center;
        @include adaptiveValue("width", 340, 150);
        @include adaptiveValue("font-size", 22, 16);
        padding-right: 20px;

        @media (max-width: 767.98px) {
            transform: rotate(-90deg);
            animation: none;
        }
    }

    &__text--first {
        animation-duration: 1250ms;
    }

    &__text--second {
        animation-duration: 1750ms;
    }

    &__text--third {
        animation-duration: 2250ms;
    }

    &__text--fourth {
        animation-duration: 2750ms;
    }
}
